<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
{% extends "project.html" %}
{% block main_content %}
<h1 class="page-header">云桌面</h1>
<div class="table-responsive">
	<table class="table table-hover">
		<thead>
    	<tr>
      	<th colspan="5">
        	<h3>云桌面列表</h3>
        </th>
        <th colspan="4">
        	<div class="btn-group pull-right" style="margin-bottom:10px;">
          	<a id="btn-server-add" class="btn btn-success" data-toggle="modal" href="{% url 'desktop_create_server' %}" data-target="#server-create-modal"><span class="glyphicon glyphicon-plus"> </span></a>
          	<button id="btn-server-start" class="btn btn-primary"><span class="glyphicon glyphicon-play"> </span></button>
          	<button id="btn-server-pause" class="btn btn-warning"><span class="glyphicon glyphicon-pause"> </span></button>
            <button id="btn-server-stop" class="btn btn-danger"><span class="glyphicon glyphicon-off"> </span></button>
        	</div>
        </th>
      </tr>
    	<tr>
      	<th class="multi_select_column"><input id="selectusers" type="checkbox" class="table-row-multi-select"></th>
      	<th>桌面名</th>
        <th>镜像名称</th>
        <th>ip地址</th>
        <th>key pair</th>
				<th>配置</th>
        <th>状态</th>
        <th>电源状态</th>
        <th>开始时间</th>
      </tr>
    </thead>
    <tbody id="selectbody">
    	{%for server in servers%}
      <tr>
      	<td class="multi_select_column">
        	<input class="table-row-multi-select" name="object_ids" type="checkbox" value="{{server.id}}">
        </td>
      	<td>{{server.name}}</td>
        <td>{{server.image_name}}</td>
        <td><ul class="list-inline">{%for ip in server.ips %}<li>{{ ip }}</li>{% endfor %}</ul></td>
        <td>-</td>
        <td>
        	<ul class="list-inline">
        		<li>{{server.flavor_name}}</li>
            <li>{{server.vcpu}}</li>
            <li>{{server.vmem}}</li>
            <li>{{server.vdisk}}</li>
          </ul>
        </td>
        <td>{{server.status}}</td>
        <td>{{server.power_status}}</td>
        <td>{{server.start_time}}</td>
      </tr>
      {%endfor%}
    </tbody>
	</table>
</div>


<!-- Server Create Modal start -->
<div class="modal fade" id="server-create-modal" tabindex="-1" role="dialog" aria-labelledby="createServerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      
    </div>
  </div>
</div>
<!-- Server Create Modal end -->
{% endblock %}

{% block main_js %}
<script type="text/javascript">
$("#selectusers").click(function(e) {
	if ($("#selectusers")[0].checked){
		$("#selectbody .table-row-multi-select").each(
		function(index){
			this.checked = true;
		})
	}else{
		$("#selectbody .table-row-multi-select").each(
			function(index){
				this.checked = false;
		})	
	}  
});

$("#btn-server-stop").click( function(){
		$.ajax({
		url:"{% url 'desktop_delete_server'%}",
		type:"POST",
		dataType:"json",
		data:$('#form1').serialize(),
		success: function(data){ 
			//alert(data.retval+data.data);
			//$("#user-create-modal").modal('hide');
			window.location.reload();
		},
		error: function (jqXHR, textStatus, errorThrown ){
			alert(textStatus)
		},
	});
});
</script>
{% endblock %}